<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Die App benötigt Zugriff auf Ihre Dokumente, um ICS-Dateien zu importieren und zu exportieren.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Die App benötigt Zugriff auf Ihren Download-Ordner, um ICS-Dateien zu importieren und zu exportieren.</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Calendar Event</string>
            <key>UTTypeIconFiles</key>
            <array/>
            <key>UTTypeIdentifier</key>
            <string>public.calendar-event</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ics</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>text/calendar</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.content</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Calendar event</string>
            <key>UTTypeIconFiles</key>
            <array/>
            <key>UTTypeIdentifier</key>
            <string>public.calendar-event</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ics</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>text/calendar</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
